.icon {
  color: white;
  cursor: pointer;
}
.icon:hover {
  color: #d4b254;
}

.navbar {
  position: fixed;
  z-index: 1;
  background: black;
  width: 100%;
  padding: 20px 0;
}

.alternative-navbar {
  position: fixed;
  z-index: 1;
  background: transparent;
  width: 100%;
  padding: 20px 0;
}

.navbar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  width: 80%;
  margin: auto;
}

.navbar__list__items {
  width: 100%;
}

.navbar__list__items a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__list__items a:hover {
  color: #d4b254;
}

.navbar__list__items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__hamburger {
  color: white;
  cursor: pointer;
}
.navbar__hamburger:hover {
  color: #d4b254;
}

.navbar__mobile {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  justify-content: space-between;
}

.mobile__drawer {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__drawer__logo {
  height: 100px;
  margin-bottom: 50px;
}

.mobile__drawer__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__drawer__list li {
  margin: 10px;
}

.mobile__drawer__list a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.mobile__drawer__list a:hover {
  color: #d4b254;
}

.mobile__drawer_social {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin: 40px;
}

.navbar__hr {
  margin: 20px 14%;
  border: 1px solid #eeeeee;
}
